.quizContainer {
  background: var(--bgColor);
  min-height: 100vh;
  display: flex;
  /* border: 1px solid yellowgreen; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--fontCol2);
}
.quizCategoryHeading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
}
.quizWrapper {
  /* border: 1px solid green; */
  width: 80%;
  margin-top: 2rem;
}
