.quizCardContainer {
  background: var(--bgColor);
  width: 30rem;
  margin: auto;
  box-shadow: -9px 3px 39px -19px rgba(67, 69, 71, 0.671);

  border-radius: 20px;
  padding: 2rem;
}
.quizQuestion {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--fontCol2);
  line-height: 2rem;
  /* padding: 1.5rem; */
}
.quizOptionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.6rem;
}
.quizOptionButton {
  /* height: 2.5rem;   */
  width: 80%;
  text-align: center;
  background: var(--bgColor);
  color: var(--fontCol2);
  border: none;
  box-shadow: -8px 5px 15px -6px rgba(63, 63, 63, 0.75);
  border: 1px solid #5757572d;
  border-radius: 15px;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.correctOption {
  background: rgb(212, 134, 30);
}
.incorrectOption {
  background: rgba(238, 64, 64, 0.973);
}
