.quizCategoryContainer {
  width: 10rem;

  background: #222222;
  margin-top: 2rem;
}
.quizCategoryThumbnail {
  width: 100%;
  height: 9rem;
  object-fit: cover;
}
.quizCategoryTitle {
  font-size: 1rem;
}
