@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");
:root {
  --bgColor: rgb(22, 22, 22);
  --secondryCol: rgb(8, 206, 8);
  --fontCol: #f0eeee;
  --fontCol2: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
